@charset "UTF-8";

/*
フェード表示させる要素に使用するためのクラス
*/
.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* header */
header {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: white;
  z-index: 10;
}

.header-logo {
  width: 180px;
}

/* hunberger-menu */
.hunberger {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  cursor: pointer;
}

.hunberger span {
  background-color: black;
  width: 100%;
  height: 2px;
  position: absolute;
  border-radius: 15%;
}

.hunberger span:nth-child(1) {
  top: 22%;
}
.hunberger span:nth-child(2) {
  top: 50%;
}
.hunberger span:nth-child(3) {
  top: 78%;
}

.mask {
  display: none;
}

/* main ↓　*/
.video {
  width: 100%;
}