@charset "UTF-8";

/*
フェード表示させる要素に使用するためのクラス
*/
.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* header */
header {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: white;
  z-index: 10;
}

.header-logo {
  width: 180px;
}

/* hunberger-menu */
.hunberger {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  cursor: pointer;
}

.hunberger span {
  background-color: black;
  width: 100%;
  height: 2px;
  position: absolute;
  border-radius: 15%;
}

.hunberger span:nth-child(1) {
  top: 22%;
}
.hunberger span:nth-child(2) {
  top: 50%;
}
.hunberger span:nth-child(3) {
  top: 78%;
}

.mask {
  display: none;
}

/* main ↓　*/

/* 共通 */
.section-title {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 30px;
}
.video {
  width: 100%;
}

/* section pick-up */
.pick-up {
  width: 100%;
  /* margin-top: 80px; */
  padding: 100px 0 50px 0;
}

/* slider */
.slider-div {
  width: 100%;
  height: 100px;
  /* display: flex; */
  /* background: red; */
}
/* .slider-div img {
  object-fit: cover;
} */
.pickup .slick-area {
  font-size: 0;
}

.slick-slide {
  margin: 0 15px;
}