@charset "UTF-8";

/*
フェード表示させる要素に使用するためのクラス
*/
.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* header */
header {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: white;
  z-index: 10;
}

.header-logo {
  width: 180px;
}

/* hunberger-menu */
.hunberger {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  cursor: pointer;
}

.hunberger span {
  background-color: black;
  width: 100%;
  height: 2px;
  position: absolute;
  border-radius: 15%;
  transition: 0.5s;
}

.open .hunberger span {
  z-index: 15;
}

.hunberger span:nth-child(1) {
  top: 22%;
}
.hunberger span:nth-child(2) {
  top: 50%;
}
.hunberger span:nth-child(3) {
  top: 78%;
}

.open .hunberger span:nth-child(1) {
  background-color: white;
  transform: rotate(-135deg);
  top: 50%;
}
.open .hunberger span:nth-child(2) {
  background-color: transparent;
}
.open .hunberger span:nth-child(3) {
  background-color: white;
  transform: rotate(135deg);
  top: 50%;
}

.mask {
  display: none;
  transition: all 0.5s;
}
.open .mask {
  top: 0;
  left: 0;
  background-color: #333;
  opacity: 0.8;
  display: block;
  height: 100%;
  position: fixed;
  width: 100%;
  cursor: pointer;
}

nav {
  opacity: 0;
  left: -300px;
  top: 0;
  bottom: 0;
  width: 300px;
  padding: 60px 25px;
  transition: 0.5s;
  background-color: #333;
  position: fixed;
  z-index: 20;
}

.open nav {
  left: 0;
  opacity: 1;
}

nav a {
  color: white;
  font-size: 0.85rem;
}

.section-list li {
  padding: 18px 0;
  border-bottom: 1px solid white;
}
.section-list li:nth-child(1) {
  border-top: 1px solid white;
}

.sns-list {
  margin-top: 35px;
}

.sns-list li {
  padding: 8px 0;
}


/* main ↓　*/
main {
  padding-top: 80px;
}

/* 共通 */
.section-title {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 30px;
}

.video {
  width: 100%;
}

/* section pick-up */
.pick-up {
  width: 100%;
  padding: 100px 0 50px 0;
}

/* slider */
.slider-div {
  width: 100%;
  /* height: 100px; */
  /* display: flex; */
  /* background: red; */
}
/* .slider-div img {
  object-fit: cover;
} */
.pickup .slick-area {
  font-size: 0;
}

.slick-slide {
  margin: 0 15px;
}

/* section feature */
.feature {
  /* margin-top: 80px; */
  padding: 100px 16px 50px;
  margin: -50px auto 10px;
}

.container {
  max-width: 1240px;
}

.feature-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.item {
  box-shadow: 0 0 8px 4px #ccc;
}
.item-text {
  padding: 30px;
}
.category {
  font-size: 0.75rem;
  margin-bottom: 20px;
}
.info {
  font-weight: bold;
  margin-bottom: 20px;
}
.date {
  font-size: 0.75rem;
  text-align: right;
}

/* section contact */
.contact {
  background-color: black;
  color: white;
  width: 100%;
  padding: 50px 16px;
}

.contact-contents {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.contact-texts {
  width: 45%;
}
.contact-input {
  width: 45%;
}

.contact-texts p {
  margin-bottom: 30px;
}

.input-info input {
  background-color: white;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
textarea {
  background-color: white;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
.send-submit {
  padding: 12px 0;
  width: 200px;
  color: white;
  border: solid 1px white;
}
.send-submit:hover {
  color: black;
  background-color: white;
}

/* footer */
footer {
  padding: 10px;
  background-color: black;
  color: white;
}

footer p {
  font-size: 0.75rem;
  text-align: center;
}

@media(max-width: 768px) {
  .contact-contents {
    display: grid;
  }
  .contact-texts {
    width: 100%;
  }
  .contact-input {
    width: 100%;
  }

  .send-submit {
    width: 100%;
  }
}